@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Nunito|Roboto+Slab|Source+Sans+Pro|Ubuntu');

    /* font-family: 'Roboto Slab', serif;

    font-family: 'BioRhyme Expanded', serif;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'Nunito', sans-serif;

	font-family: 'Source Sans Pro', sans-serif;
 */


body{

	font-family: 'Roboto Slab', serif;
	background-color: #277;
	color: #fff;

}

.clear
{
	clear: both;
}

.midcontainer
{
	width:100%;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 20px;
}
.center-content {
  text-align: center;
  margin-top: 35px;
  font-family: 'Roboto Slab', sans-serif;

  margin-bottom: 35px;
}

.nav
{
	background-color: #666;
	margin-bottom: 35px;
}
.nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav li
{
	float: left;
	width: 200px;
}

.nav li a
{
	text-decoration: none;
	text-rendering: all;
	text-align: center;
	display: block;
  padding: 15px;
  width: 250px;
  border-color:#666;
}
.nav li a:hover
{
	background-color: #277;
	color: #fff;
}
.active
{
	background-color: #277;
	color:#fff;
}
.container1
{
	margin-top: 15px;
	margin-bottom: 10px;

}

.container2
{
	margin: 25px;
}
.playerbutton {

	font-style: 15px;
	font-weight: bold;
	letter-spacing: 0.2;
	text-align: center;
	z-index: 2;
	border-color: #666;
	border-radius: 1px;
	background-color: #fff;
	color: #277;
	width: 120px;
	height: 35px;
}
.center-content input[type=button] {

	font-style: 15px;
	font-weight: bold;
	letter-spacing: 0.2;
	text-align: center;
	z-index: 2;
	border-color: #666;
	border-radius: 10px;
	background-color: #fff;
	color: #277;
}

.state .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1px;
    width: 250px;
    height: 300px;
    font-size: 12px;
}

/* On mouse-over, add a deeper shadow */
.state .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* Add some padding inside the card container */
.state .container {
    padding: 2px 16px;
}
.state .container h5 {

	text-align: center;
}

.state{
	color: #277;
}

.state ul
{
	list-style-type: none;
    margin: 10px;
    padding: 10px;

}
.state li
{
	float: left;
}

.finalcontainer
{
  text-align: left;
  margin-top: 35px;
  font-family: 'Roboto Slab', sans-serif;
  margin-bottom: 35px;
}
